body{
    
    
}

a{
    font-size:  0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size:  0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}


header {
    text-align: end;
    vertical-align: top;
    position: relative;
    right: 20px;
    bottom: 65px;
    
    
}

.primero {
    border: solid 1px grey;
    border-radius: 10px;
    width: 150px;
    margin: 10px 0 0 0;
    padding: 10px;
    position: relative;
    bottom: 20px;
}

.segundo {
    border-style: dotted;
    border-radius: 10px;
    background-color: rgb(248, 255, 156);
    width: 150px;
    margin: 10px 0 0 0;
    padding: 10px;
    
}

a {
    color: rgb(9, 9, 255);
    text-decoration: underline;
}

nav {
    background-image: url(../CSS/imag/fondo_menu.gif);
    height: 30px;
    margin: 0px;
    position: relative;
    bottom: 30px;

}

nav a {
    text-decoration: none;
    text-align: left;
    color: bisque;
    


}

a{
    text-decoration: none;
}

nav a:hover {
    color: chocolate;
}

.tercero {
    border: 1px solid;
    border-radius: 10px;
    width: 150px;
    margin: 10px 0 0 0;
    padding: 10px;
    float: right;
    position: relative;
    bottom: 860px;
    font-family: Arial, Helvetica, sans-serif;



}

#cosa {
    border: solid 1px rgb(185, 88, 75);
    border-radius: 10px;
    background-color: chocolate;
    box-shadow: 3px 3px 3px 3px gray  ;
    border-radius:5px;
    text-align: center;
    border-style: groove ;
    
}

.cuarto {
    border: solid 0px;
    margin: 230px;
    height: 600px;
    position: relative;
    bottom: 1085px;
}

footer |    div{
    position: relative;
    bottom: 1050px;
    border: solid 1px;
    width: 100%;
    height: 30px;
    border-radius: 10px;


}
footer div a{
    margin-left: 10px;
    position: relative;
    right: 160px;
}
.final{
    color: black;
    padding: 6px;
    position: relative;
    left: 900px;
    text-align:end;
}
.imagenes{
    width: 100px;
    height: 100px;
    float: left;
    margin: 8px;
    border-radius: 20%;
    border-style: double;
    border-color: chocolate;
    box-shadow: 3px 3px 3px 3px gray;
    
}
input{
    padding:4px;
    border-radius: 5px;
    border:solid 2px rgb(237, 115, 44);
    background-color: transparent;
    background-color: rgb(255, 106, 0)(0, 0, 255, 0.439);
    font-size: 1.2rem;
    color: rgb(255, 187, 127);
    letter-spacing: .5px;
    width: 200px;
   
}
input:hover{
padding: 6px;
box-shadow: 3px 3px 3px 3px gray;

}
.logo{
    box-shadow: 3px 3px 3px 3px gray  ;
    border-radius: 20px;
    border-style:groove solid ridge;
    border-color: blue rgb(255, 119, 0);
    margin: 10px;
}
.logo:hover{
    filter: hue-rotate(100deg);
    box-shadow: 3px 3px 3px 3px gray;
    padding: 4px;
}

@media (max-width:600px){
    body{
        background-color: rgb(255, 255, 255);
    }
}

@media (max-width:600px)
{
    body{
        background-color: #ffffff;
    }
    .primero{
        display: none;
    }
    .segundo{
        display: none;
    }
    .tercero{
        display: none;
    }
    .cuarto{
        margin-top: 20px;
        width: 80%;
        height: 80px;
        position: relative;
        top: 0px;
        margin: auto;
    }

    footer{
    position: relative;
    bottom: -1100px;
    border: solid 1px;
    width: 100%;
    height: 30px;
    border-radius: 10px;

    }
}