@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&family=Amaranth:ital,wght@1,700&family=Fugaz+One&family=Kaushan+Script&family=Lato:wght@100&family=Zen+Dots&display=swap");
 
 @media (max-width: 768px){
  

        body{
        background-color: black;
        color: #fff;
        margin: 0;
        font-family: "Zen Dots", sans-serif;
    }
         .iml {
        background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.1),rgb(9, 9, 9,0.1)),
          url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: 100%;
        margin: 0 auto;
      }
      .main-menu{
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4488ff;
        transition: transform 0.3;
        transform: translateY(-100%);
        

      }
      .main
      .main-menu_item{
        padding: 1em;
      }
      .main-menu__link{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
      }
      .toggle-menu label img{
        max-width: 100%;
        position: absolute;
        right: 1rem;
        top: 30px;
        position: fixed;
        z-index: 10;
        width: 60px;
        cursor: pointer;
        
   }
   .toggle-menu__checkbox:checked + .mainmenu{
    transform: translateY(0);

   }
   .toggle-menu__checkbox{
    display: none;
   }
   
    
      .nav {
        width: 0px;
        margin: auto;
        background-color: #c46060;
        font-size: 20px;
        margin-top: 100px;
    
      }
    
      .imagenmenu {
        width: 20px;
        left: 80%;
        top: 10px;
        
      }
    
      nav {
        max-width: 900px;
        margin: auto;
        background-color: gray;
        font-size: 20px;
        margin-top: 10px;
        left:500px;
        top: -240px;
    }
    .grid img{
        width: 80px;
        position: relative;
        bottom:100px;
        left: 20px;
    }
    .encabezado{
        
    }
    .item3,.item4,.item5,.item6,.item7{
      display: none;
    }
    
    
    .texto h1{
      
       color: #fff;
       margin-left:30px ;
       
       top: 150px;
    }
    .mapa h2{
        font-size: 17px;
        margin-left: 30px;
        margin-top: 200px;
    }
    .texto button{
        font-family: "Zen Dots", sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background-color: rgb(37, 37, 37,0.8);
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        margin-left: 30px;
        cursor: pointer;
        border-radius: 8px;
        width: 120px;
        
        top: 120px;
        margin-top:10px ;
       
        
    }
    .mapa{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    
    .mapa iframe{
         
        margin:150px 60px;
        margin-top: 40px;
        margin-bottom: 30px;
        border-radius: 5px;
        width: 70%;
        height: 300px;
        
        top: 630px;


    }
    .vender{
        border: solid 2px transparent;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.5),rgb(9, 9, 9,0.5)),
          url(../proyecto/imagenesproyecto/DRAGONBORN4-1.jpg) no-repeat center center;
        
    }
    .vender h3{
        margin: 20px;
    }
    .vender p{
        font-size: 14px;
        margin: 20px;
        
    }
    .formularioventas button{
        
        margin:30px auto;
        background-color: rgba(161, 161, 161, 0.9);
        display: flex;
        text-align: center;
        border: none;
        padding: 10px;
        border-radius: 10px;

        font-family: "Zen Dots", sans-serif;

    }
    .formularioventas a{
        text-decoration: none;
        color: black;
    }
    .formularioventas button:hover{
        padding: 13px;
    }
    .formulario{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .for{
        background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
          url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
       
        width: 100%;
        margin: 0 auto;
        padding: px;
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    label::marker {
        color: #ffffff;

        
      }

      input {
        height: 30px;
        width: 190px;
        border-radius: 20px;
        border: none;
        transition-duration: 0.3s;
        cursor: text;
        background-color: rgb(115, 150, 255, 0.3);
        color: #fff;
        list-style: none;
      }

      input:placeholder-shown {
        border-color: teal;
        color: rgb(235, 235, 235, 0.5);
        font-family: "Zen Dots", sans-serif;
        font-size: 15px;
      }
      .for p{
        width: 90%;
        font-size: 14px;
       
      }
      .fin3{
        display: none;
      }
      .container5 {
        width: 100%;
        height: 200px;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
          url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
        margin: 0 auto;
        
        font-size: 11px;
      }
    
      .fin2 {
        width: auto;
        height: 60px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
      }
      .fin2 a{
        color: white;
        text-decoration: none;
      }
      
      .fin2 li{
        list-style-type: none;
        
      }
      .finall{
        
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      }
      .finall a{
       
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 10px;
        
      }
      footer h3 a{
        margin: 0 auto;
        width: 100px;
        color: #ffffff;
      }

    

}
@media (min-width: 768px) and (max-width:1024px) {
  body{
    background-color: black;
    color: #fff;
    margin: 0;
    font-family: "Zen Dots", sans-serif;
}
     .iml {
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.1),rgb(9, 9, 9,0.1)),
      url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4488ff;
    transition: transform 0.3;
    transform: translateY(-100%);
    

  }
  .main
  .main-menu_item{
    padding: 1em;
  }
  .main-menu__link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .toggle-menu label img{
    max-width: 100%;
    position: absolute;
    right: 1rem;
    top: 30px;
    position: fixed;
    z-index: 10;
    width: 60px;
    cursor: pointer;
    
}
.toggle-menu__checkbox:checked + .mainmenu{
transform: translateY(0);

}
.toggle-menu__checkbox{
display: none;
}


  .nav {
    width: 0px;
    margin: auto;
    background-color: #c46060;
    font-size: 20px;
    margin-top: 100px;

  }

  .imagenmenu {
    width: 20px;
    left: 80%;
    top: 10px;
    
  }

  nav {
    max-width: 900px;
    margin: auto;
    background-color: gray;
    font-size: 20px;
    margin-top: 10px;
    left:500px;
    top: -240px;
}
.grid img{
    width: 80px;
    position: relative;
    bottom: 40px;
    left: 20px;
}
.encabezado{
    display: none;
}


.texto h1{
  
   color: #fff;
   margin-left:30px ;
   
   top: 150px;
}
.mapa h2{
    font-size: 23px;
    margin-left: 30px;
    margin-top: 200px;
    text-align: center;
}
.texto button{
    font-family: "Zen Dots", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37,0.8);
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    
    top: 120px;
    margin-top:10px ;
   
    
}
.mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mapa iframe{
     
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 70%;
    height: 300px;
    
    top: 630px;


}
.vender{
    border: solid 2px transparent;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.5),rgb(9, 9, 9,0.5)),
      url(../proyecto/imagenesproyecto/DRAGONBORN4-1.jpg) no-repeat center center;
    
}
.vender h3{
    margin: 20px;
    font-size: 30px;
    color: rgba(255, 0, 0, 0.658);
}
.vender p{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 20px;
    margin: 20px;
    
}
.formularioventas button{
    
    margin:30px auto;
    background-color: rgba(161, 161, 161, 0.9);
    display: flex;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px;

    font-family: "Zen Dots", sans-serif;

}
.formularioventas a{
    text-decoration: none;
    color: black;
}
.formularioventas button:hover{
    padding: 13px;
}
.formulario{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.for{
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
      url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
   
    width: 100%;
    margin: 0 auto;
    padding: px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label::marker {
    color: #ffffff;

    
  }

  input {
    height: 30px;
    width: 190px;
    border-radius: 20px;
    border: none;
    transition-duration: 0.3s;
    cursor: text;
    background-color: rgb(115, 150, 255, 0.3);
    color: #fff;
    list-style: none;
  }

  input:placeholder-shown {
    border-color: teal;
    color: rgb(235, 235, 235, 0.5);
    font-family: "Zen Dots", sans-serif;
    font-size: 15px;
  }
  .for p{
    width: 90%;
    font-size: 24px;
   
  }
  .fin3{
    display: none;
  }
  .container5 {
    width: 100%;
    height: 200px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
      url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
    margin: 0 auto;
    
    font-size: 11px;
  }

  .fin2 {
    width: auto;
    height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .fin2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .fin2 li{
    list-style-type: none;
    
  }
  .finall{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .finall a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    
  }
  footer h3 a{
    margin: 0 auto;
    width: 100px;
    color: #ffffff;
  }
}
@media(min-width:1024px) {
  body{
    background-color: black;
    color: #fff;
    margin: 0;
    font-family: "Zen Dots", sans-serif;
}
     .iml {
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.1),rgb(9, 9, 9,0.1)),
      url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4488ff;
    transition: transform 0.3;
    transform: translateY(-100%);
    

  }
  .main
  .main-menu_item{
    padding: 1em;
  }
  .main-menu__link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .toggle-menu label img{
    max-width: 100%;
    position: absolute;
    right: 1rem;
    top: 30px;
    position: fixed;
    z-index: 10;
    width: 60px;
    cursor: pointer;
    
}
.toggle-menu__checkbox:checked + .mainmenu{
transform: translateY(0);

}
.toggle-menu__checkbox{
display: none;
}


  .nav {
    width: 0px;
    margin: auto;
    background-color: #c46060;
    font-size: 20px;
    margin-top: 100px;

  }

  .imagenmenu {
    width: 20px;
    left: 80%;
    top: 10px;
    
  }

  nav {
    max-width: 900px;
    margin: auto;
    background-color: gray;
    font-size: 20px;
    margin-top: 10px;
    left:500px;
    top: -240px;
}
.grid img{
    width: 80px;
    position: relative;
    bottom: 40px;
    left: 20px;
}

.flotante{
  display: none;
}


.texto h1{
  
   color: #fff;
   margin-left:30px ;
   
   top: 150px;
}
.mapa h2{
    font-size: 23px;
    margin-left: 30px;
    margin-top: 200px;
    text-align: center;
}
.texto button{
    font-family: "Zen Dots", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37,0.8);
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    
    top: 120px;
    margin-top:10px ;
   
    
}
.mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mapa iframe{
     
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 70%;
    height: 300px;
    
    top: 630px;


}
.vender{
    border: solid 2px transparent;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9,0.5),rgb(9, 9, 9,0.5)),
      url(../proyecto/imagenesproyecto/DRAGONBORN4-1.jpg) no-repeat center center;
    
}
.vender h3{
    margin: 20px;
    font-size: 30px;
    color: rgba(255, 0, 0, 0.658);
}
.vender p{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 20px;
    margin: 20px;
    
}
.formularioventas button{
    
    margin:30px auto;
    background-color: rgba(161, 161, 161, 0.9);
    display: flex;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px;

    font-family: "Zen Dots", sans-serif;

}
.formularioventas a{
    text-decoration: none;
    color: black;
}
.formularioventas button:hover{
    padding: 13px;
}
.formulario{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.for{
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
      url(../proyecto/imagenesproyecto/fondo2pagina.jpg) no-repeat center center;
   
    width: 100%;
    margin: 0 auto;
    padding: px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label::marker {
    color: #ffffff;

    
  }

  input {
    height: 30px;
    width: 190px;
    border-radius: 20px;
    border: none;
    transition-duration: 0.3s;
    cursor: text;
    background-color: rgb(115, 150, 255, 0.3);
    color: #fff;
    list-style: none;
  }

  input:placeholder-shown {
    border-color: teal;
    color: rgb(235, 235, 235, 0.5);
    font-family: "Zen Dots", sans-serif;
    font-size: 15px;
  }
  .for p{
    width: 90%;
    font-size: 24px;
   
  }
  .fin3{
    display: none;
  }
  .container5 {
    width: 100%;
    height: 200px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, rgb(9, 9, 9),rgb(9, 9, 9)),
      url(../proyecto/imagenesproyecto/DRAGONBORN2.jpg) no-repeat center center;
    margin: 0 auto;
    
    font-size: 11px;
  }

  .fin2 {
    width: auto;
    height: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .fin2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .fin2 li{
    list-style-type: none;
    
  }
  .finall{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .finall a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    
  }
  footer h3 a{
    margin: 0 auto;
    width: 100px;
    color: #ffffff;
  }
}
    