
#titulo{
    color: rgb(63, 185, 144);
}

p strong{
 color: rgb(255, 0, 0);   
}
.destacado{

    color: rgb(234, 208, 37);

}
h2{

    color: blue;
    font-weight: bold;
}
#pepe{
    color: red;
}
#pepe em{
    color: blue;
    }
a + span{
    color: purple;
}
caption{
    color: blue;
}
table .especial{
    color: gold;
}
tbody td{
    color: chartreuse;
}
table{
    border: 1px;
    border-collapse: collapse;
    border-color: black;
    width: 450px ;
    height: 150px;
    text-align: center;

}
tbody td strong{
    color : gold
}

tbody th{
    color:red
}
#color{
    color: red;
}
#adicional p{
    color: darkkhaki;    
}
#especial{
    color: darkorchid;
}
#adicional p a{
    color: yellowgreen;
}